<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CoopUI32</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>oiosaml-j.home</param-name>
		<param-value>c:/samlconf/oiosaml.home</param-value>
	</context-param>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>dk.itst.oiosaml.sp.service.SPFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>dk.itst.oiosaml.sp.service.session.SessionDestroyListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>SAMLDispatcherServlet</servlet-name>
		<servlet-class>dk.itst.oiosaml.sp.service.DispatcherServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Co-op user interface</servlet-name>
<!-- 		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class> -->
		<servlet-class>softeng.coop.ui.CoopApplicationServlet</servlet-class>
		<init-param>
			<description>
			Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>softeng.coop.ui.CoopApplication</param-value>
		</init-param>
		<init-param>
			<description>
			Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>softeng.coop.ui.widgetset.CoopuiWidgetset</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SAMLDispatcherServlet</servlet-name>
		<url-pattern>/saml/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Co-op user interface</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>